.purchase1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    background: #F5F5F5;
}

/* main page */
.header_bg {
    position: absolute;
    background: linear-gradient(180deg, #333 0%, #767676 100%);
    width: 100%;
    top: 0;
    aspect-ratio: 1440 / 129;
}

.back {
    position: relative;
    margin-top: 5%;
    margin-left: 8%;
    cursor: pointer;   
}

.back {
    background: #F5F5F5;
    border: none;
}

.back_text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.back_text p {
    text-decoration: none;
    color: inherit;
    color: #656565;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
}

.back_text img {
    margin-right: 0;
    width: 1.875rem;
    height: auto;
}

.back a {
    text-decoration: none;
    color: inherit;
    color: #656565;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.report_title {
    color: #0C0C0C;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    margin-left: 9%;
    margin-top: 1%;
}

.step_progress {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    padding: 1.25rem 0;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 3%;
}
  
.step1 {
    display: flex;
    width: 40%;
    align-items: center;
    background: #fff;
    padding: 0.625rem 1.25rem;
    border-radius: 1.5625rem;
    border: 1px solid #DADADA;
    justify-content: center;
    margin: 0 0.625rem;
}

.step2 {
    display: flex;
    width: 40%;
    align-items: center;
    padding: 0.625rem 1.25rem;
    justify-content: center;
    margin: 0 0.625rem;
    border-radius: 3.6875rem;
    border: 1px solid #DADADA;
}

.step3 {
    display: flex;
    width: 40%;
    align-items: center;
    padding: 0.625rem 1.25rem;
    justify-content: center;
    margin: 0 0.625rem;
    border-radius: 3.6875rem;
    border: 1px solid #DADADA;
}
  
.step-number {
    background-color: #008286;
    color: #fff;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-right: 0.625rem;
}

.step-number2 {
    color: #fff;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-right: 0.625rem;
}

.step-number3 {
    color: #fff;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-right: 0.625rem;
}
  
.step-label {
    color: #343434;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
}

.step-label2 {
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
}

.step-label3 {
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
}

.payment_steps {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* step1 */
.property_form {
    width: 100%;
}

.form_section {
    display: flex;
    flex-direction: column;
    width: 97%;
    border-radius: 1.25rem;
    background: #FFF;
    padding: 5%;
    margin-right: 3%;
}

.form_section h1 {
    color: #343434;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

.form_section label {
    color: #343434;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
}

.selection {
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
}

.selection label {
    margin-right: 5%;
}

.form_selection {
    width: 90%;
}

/* step2 */
.service_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 97%;
    border-radius: 1.25rem;
    background: #FFF;
    padding: 5%;
    padding-bottom: 0;
    margin-right: 3%;
}

.service_details h1 {
    color: #343434;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin: 0;
}

.service_details h2 {
    margin-bottom: 1%;
    margin-top: 3%;
    color: #000;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.service_details p {
    margin-top: 0;
    color: #343434;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

/* step3 */
.payment_choice {
    position: relative;
    width: 50%;
    margin-left: 3%;
}

/* payment summary */
.payment_summary {
    position: relative;
    width: 35%;
}

.order_summary {
    width: 70%;
    margin-left: 15%;
    height: auto;
    border-radius: 1.25rem;
    background: #FFF;
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.order_summary p {
    color: #343434;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin: 0;
}

.order_summary h3 {
    color: #343434;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.report_available {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.report_available img {
    margin-right: 2%;
    width: 1.5rem;
}

.report_available h4 {
    color: #008286;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-top: 0;
    margin-bottom: 0;
}

.address {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    background: #F7F7F7;
    margin-top: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.address p {
    width: 90%;
}

.calculation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1%;
}

.calculation p {
    width: 70%;
}

.calculation span {
    color: #343434;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.addition {
    color: #008286;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.calculation2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1%;
}

.calculation2 span {
    color: #008286;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.total {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    color: #343434;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.total h4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    width: 50%;
}

.total h5 {
    margin: 0;
    color: #343434;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.total p {
    color: #A4A4A4;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-left: 3%;
    margin-right: 2%;
}

@media (max-width: 768px) {
    .header_bg {
        height: 7rem;
    }

    .payment_steps {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-bottom: 5%;
    }
    
    .payment_choice {
        width: 85%;
    }

    .payment_summary {
        width: 100%;
    }

    .order_summary {
        margin-left: 5%;
    }
}

