.orders {
    display: flex;
    flex-direction: column;
    width: 97%;
    border-radius: 1.25rem;
    background: #FFF;
    padding: 5%;
    margin-right: 3%;
}

.orders h1 {
    color: #343434;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-top: 0;
}

.order_status {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 3%;
    color: #A4A4A4;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    cursor: pointer;
}

.order_status span {
    margin-right: 3%;
}

.order_status .active {
    color: #008286;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    cursor: pointer;
}

.order_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.order_detail {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
}

.order_detail p {
    color: #A4A4A4;
    font-family: Montserrat;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 0;
}

.order_detail h1 {
    color: #008286;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 2%;
    margin-top: 0;
}

.order_detail h2 {
    color: #030303;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin: 0;
}

.view_order {
    color: #008286;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.view_order:hover {
    color: #007BFF;
}